## Implementation of Decision Tree

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\Prashant\Desktop\mansi\jupyter_notebook\py-master\py-master\ML\9_decision_tree\salaries.csv')

In [4]:
df.head(2)

  company              job     degree  salary_more_then_100k
0  google  sales executive  bachelors                      0
1  google  sales executive    masters                      0

In [9]:
inputs = df.drop('salary_more_then_100k',axis='columns')
# drop() - Drop specified labels from rows or columns. it will drop salas=ry_more_then_k column fron the dataframe

In [10]:
inputs.head()

  company                  job     degree
0  google      sales executive  bachelors
1  google      sales executive    masters
2  google     business manager  bachelors
3  google     business manager    masters
4  google  computer programmer  bachelors

In [15]:
target = df['salary_more_then_100k']

In [16]:
target.head()   # it will show last column

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

as we know ML algos can only deal with no. so we need to chage the categorical features of col 1,2 and 3 in to no. for this we will use LabelEncodel() of sklearn library.

In [18]:
from sklearn.preprocessing import LabelEncoder

In [19]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [21]:
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_job.fit_transform(inputs['job'])
inputs['degree_n'] = le_degree.fit_transform(inputs['degree'])

it will generate 3 new columns of degree, job and company having no. instead of categorical features.

In [22]:
inputs.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [25]:
inputs_n = inputs.drop(['company','job','degree'],axis='columns')  # it will drop the columns with categorical features

In [26]:
inputs_n.head()

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

In [27]:
target.head()

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

In [28]:
# Now everything is in no. format so we can proceed further.

In [30]:
# NOw to use decision tree we will import tree package from sklearn library
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [31]:
#Now we will provide the model input data
model.fit(inputs_n,target)

DecisionTreeClassifier()

#### To check the accuracy of our model.

In [33]:
model.score(inputs_n,target)

1.0

score is 1 mean model is doing great. PARTY KARLO AB

##### Now we wanna check is salary of GOOGLE, COMPUTER ENGINEER, BACHELORS DEGREE > 100k

for
* GOOGLE - 2
* COMPUTER ENGINEER - 1
* BACHELORS DEGREE - 0

In [35]:
model.predict([[2,1,0]])

array([0], dtype=int64)

this means NO.

#### Now we wanna check is salary of GOOGLE, COMPUTER ENGINEER, MASTERS DEGREE > 100k

for
* GOOGLE - 2
* COMPUTER ENGINEER - 1
* MASTERS DEGREE - 0

In [37]:
model.predict([[2,1,1]])

array([1], dtype=int64)

This means YES